body {
    background-color: #1a1a1a;
    color: white;
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #00000000;
}

.icono {
    height: 40px;
    margin-left: 150px;
}

.container {
    text-align: center;
    margin: 50px 0;
}

.button-container {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-item {
    margin: 0 10px;
}

.nav-link {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: white;

    border-radius: 5px;
    transition: background-color 0.3s;
    font-size: 20px;
}

.nav-link:hover {
    background-color: #00000000;
}