body {
    background-color: #1a1a1a;
    /* Color de fondo negro claro */
    color: white;
    /* Color del texto */
    font-family: Arial, sans-serif;
    /* Fuente */
}

.header {
    display: flex;
    justify-content: space-between;
    /* Espacio entre el logo y los botones */
    align-items: center;
    padding: 20px;
    background-color: #00000000;
    /* Color del encabezado */
}

.icono {
    height: 50px;
    margin-left: 50px;
}

.container {
    text-align: center;
    margin: 50px 0;
}

.button-container {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-item {
    margin: 0 10px;

}

.nav-link {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    background-color: #FF8800;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-size: 20px;
}

.nav-link:hover {
    background-color: #00000000;
    /* Color de fondo al pasar el mouse */
}