{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alquilar/Vender - {{ video.titulo_original }}</title>
    <link rel="stylesheet" href="{% static 'css/alquilar_comprar.css' %}">

</head>

<body>

    <header class="header">
        <img src="{% static 'images/Logo_Netpolix.png' %}" alt="Icono de Netpolix" class="icono">
    </header>

    <h1>{{ video.titulo_original }}</h1>

    <div class="main-container">

        <div class="video-container">
            {% if video.trailer_url %}
            <iframe src="{{ video.trailer_url }}" frameborder="0" allowfullscreen></iframe>
            {% endif %}
        </div>


        <div class="details-container">
            <p><strong>Año:</strong> {{ video.ano }}</p>
            <p><strong>Duración:</strong> {{ video.duracion }} min</p>
            <p><strong>Calificación:</strong> {{ video.calificacion }}/10</p>
            <p><strong>Clasificación:</strong> {{ video.clasificacion }}</p>
            <p><strong>Precio de alquiler:</strong> {{ video.precio_alquiler }}</p>
            <p><strong>Precio de venta:</strong> {{ video.precio_venta }}</p>
        </div>
    </div>

    <!-- Botones -->
    <div class="buttons-container">
        <form action="{% url 'agregar_al_carrito' video.id 'alquiler' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn-alquilar">Alquilar</button>
        </form>
        <form action="{% url 'agregar_al_carrito' video.id 'venta' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn-comprar">Comprar</button>
        </form>
    </div>

</body>


</html>