{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catálogo de Videos</title>
    <link rel="stylesheet" href="{% static 'css/style_catalogo.css' %}">
</head>

<body>

    <header class="header">
        <img src="{% static 'images/Logo_Netpolix.png' %}" alt="Icono de Netpolix" class="icono">
    </header>

    <h1>Catálogo de Videos</h1>

    <div class="logout-container">
        {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">Cerrar sesión</a>
        {% endif %}
    </div>

    <div class="search-container">
        <form method="GET">
            <label for="titulo">Título:</label>
            <input type="text" name="titulo_original" placeholder="Buscar por título" />
            <label for="ano">Año:</label>
            <input type="number" name="ano" placeholder="Año" />
            <label for="idioma">Idioma:</label>
            <input type="text" name="idioma_original" placeholder="Idioma" />
            <button type="submit">Buscar</button>
        </form>
    </div>

    <table>
        <thead>
            <tr>
                <th>Portada</th> <!-- Nueva columna para la portada -->
                <th>Título Original</th>
                <th>Año</th>
                <th>Duración (min)</th>
                <th>Calificación</th>
                <th>Clasificación</th>
                <th>Idioma Original</th>
                <th>Subtítulos</th>
                <th>Doblajes</th>
                <th>Precio Alquiler</th>
                <th>Precio Venta</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            {% for video in videos %}
            <tr>
                <td>
                    {% if video.poster %}
                    <img src="{{ video.poster.url }}" alt="Portada de {{ video.titulo_original }}"
                        style="width:100px; height:auto;">
                    {% else %}
                    <img src="{% static 'images/default_image.png' %}" alt="Imagen por defecto"
                        style="width:100px; height:auto;">
                    {% endif %}
                </td>
                <td>{{ video.titulo_original }}</td>
                <td>{{ video.ano }}</td>
                <td>{{ video.duracion }}</td>
                <td>{{ video.calificacion }}/10</td>
                <td>{{ video.clasificacion }}</td>
                <td>{{ video.idioma_original }}</td>
                <td>{{ video.subtitulos }}</td>
                <td>{{ video.doblajes }}</td>
                <td>{{ video.precio_alquiler }}</td>
                <td>{{ video.precio_venta }}</td>
                <td>
                    <a href="{% url 'alquilar_venta' video.id %}">Alquilar/comprar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>