{% extends 'vav/base.html' %}


{% block content %}


</head>

<body>

    <div class="content">
        <h2>Alquila y compra tus películas favoritas ahora</h2>
        <p>Descubre las últimas novedades y disfruta de tu experiencia de cine en casa con NETPOLIX.</p>
        <a href="/vav/catalogo/" target="_blank"><button class="btn">Explorar Películas</button></a>
    </div>

    <footer>
        <p>&copy; 2024 NETPOLIX. Todos los derechos reservados.</p>
    </footer>

</body>

</html>




{% endblock %}