{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Cliente</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <header class="header">
        <img src="{% static 'images/Logo_Netpolix.png' %}" alt="Icono de Netpolix" class="icono" height="50px">
    </header>

    <div class="registro-container">
        <h2 class="registro-title">Registro de Cliente</h2>
        <form method="POST" class="registro-form">
            {% csrf_token %}

            {% if form.non_field_errors %}
            <div class="error">
                {% for error in form.non_field_errors %}
                <p>{{ error }}</p>
                {% endfor %}
            </div>
            {% endif %}

            <div class="form-group">
                <label for="{{ form.username.id_for_label }}">Nombre de usuario</label>
                {{ form.username }}
                {% if form.username.errors %}
                <div class="error">{{ form.username.errors }}</div>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="{{ form.email.id_for_label }}">Correo electrónico</label>
                {{ form.email }}
                {% if form.email.errors %}
                <div class="error">{{ form.email.errors }}</div>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="{{ form.password1.id_for_label }}">Contraseña</label>
                {{ form.password1 }}
                {% if form.password1.errors %}
                <div class="error">{{ form.password1.errors }}</div>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="{{ form.password2.id_for_label }}">Confirma tu contraseña</label>
                {{ form.password2 }}
                {% if form.password2.errors %}
                <div class="error">{{ form.password2.errors }}</div>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="{{ form.cedula.id_for_label }}">ID</label>
                {{ form.cedula }}
                {% if form.cedula.errors %}
                <div class="error">{{ form.cedula.errors }}</div>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="{{ form.fecha_ingreso.id_for_label }}">Fecha de ingreso</label>
                {{ form.fecha_ingreso }}
                {% if form.fecha_ingreso.errors %}
                <div class="error">{{ form.fecha_ingreso.errors }}</div>
                {% endif %}
            </div>

            <button type="submit" class="btn-custom" id="Registrarse">
                Registrarse
            </button>
        </form>
    </div>
</body>

</html>