body {
    background-color: #1a1a1a;
    color: white;
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #00000000;
}

.icono {
    height: 50px;
    margin-left: 50px;
}

.container {
    text-align: center;
    margin: 50px 0;
}

.button-container {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-item {
    margin: 0 10px;
}

.nav-link {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    background-color: #FF8800;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-size: 20px;
}

.nav-link:hover {
    background-color: #00000000;
}

/* Contenedor del formulario */
.login-container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 40px;
    border-radius: 10px;
    width: 300px;
    height: 500px;
    margin: 50px auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    color: #FFFFFF;

}


/* Título del formulario */
.login-title {
    text-align: left;
    color: #FFA903;
    /* Color destacado para el título */
    font-size: 30px;
    margin-bottom: 20px;
}

/* Estilos del formulario */
.login-form {
    display: flex;
    flex-direction: column;
}

.login-form input {
    width: 95%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #FFA903;
    background-color: transparent;
    color: black;

}

.login-form input::placeholder {
    color: #FFFFFF;
}

/* Botón de envío */
.btn-custom {
    background-color: #FFA903;
    color: #0D3FA9;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

.btn-custom:hover {
    background-color: #ffbf40;
}